{% extends "main/layout.html" %}
{% block content %}
<div class="cart p-3 mb-2 bg-dark text-white">
    <div class="container">
        <div class="row p-3 mb-2 bg-dark text-white">
            <div class="col-sm-9 mt-5 p-3 mb-2 bg-dark text-white">
                <h3 style="color: white; font-weight: bold; font-style: italic; font-family: sans-serif; " class="text-center">Your Cart</h3>
                {% if cart_items %}
                <div class="table-responsive p-3 mb-2 bg-dark text-white">
                    <table class="table table-light p-3 mb-2 bg-dark text-white">
                        <thead>
                        <tr>
                            <th style="color: white; font-weight: bold; font-style: italic; font-family: sans-serif; " scope="col">Name</th>
                            <th style="color: white; font-weight: bold; font-style: italic; font-family: sans-serif; " scope="col">Description</th>
                            <th style="color: white; font-weight: bold; font-style: italic; font-family: sans-serif; " scope="col">Specification</th>
                            <th style="color: white; font-weight: bold; font-style: italic; font-family: sans-serif; " scope="col">Price</th>
                            <th style="color: white; font-weight: bold; font-style: italic; font-family: sans-serif; " scope="col">Total Pieces</th>
                            <th style="color: white; font-weight: bold; font-style: italic; font-family: sans-serif; " scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for cart in cart_items %}
                        <tr>
                            <td style="color: white; font-style: italic; font-family: sans-serif; ">{{ cart.item.title }} <span class="badge badge-pill badge-light">{{ cart.item.labels }}</span></td>
                            <td style="color: white; font-style: italic; font-family: sans-serif; ">{{ cart.item.description }}</td>
                            <td style="color: white; font-style: italic; font-family: sans-serif; ">{{ cart.item.instructions }}</td>
                            <td style="color: white; font-style: italic; font-family: sans-serif; ">{{ cart.item.price }}</td>
                            <td style="color: white; font-style: italic; font-family: sans-serif; ">{{ cart.item.pieces }} pieces</td>
                            <td><a style="color: white; font-style: italic; font-family: sans-serif; " class="btn btn-outline-danger" href="{% url 'main:remove-from-cart' cart.id %}">Delete</a></td>
                        </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                <h4 style="color: white; font-style: italic; font-family: sans-serif; " class="text-center">Sorry, your cart is empty..Please add items!!!</h4>
                {% endif %}
            </div>
            <div class="p-3 mb-2 bg-dark text-white">
                <div class="content-section p-3 mb-2 bg-dark text-white">
                    <h3 style="color: white; font-weight: bold; font-style: italic; font-family: sans-serif; " class="text-center">Order Summary</h3>
                      <ul class="list-group">
                        <li style="font-weight: bold; font-style: italic; font-family: sans-serif; " class="list-group-item list-group-item-dark text-center text-dark">Total: Rs. {{ total }}</li>
                        <li style="font-weight: bold; font-style: italic; font-family: sans-serif; " class="list-group-item list-group-item-dark text-center text-dark">Total Pieces: {{ total_pieces }}</li>
                        <li style="font-weight: bold; font-style: italic; font-family: sans-serif; " class="list-group-item list-group-item-dark text-center text-dark"><a class="btn btn-outline-info text-dark" href="{% url 'main:ordered' %}">Proceed To Checkout</a></li>
                        <li style="font-weight: bold; font-style: italic; font-family: sans-serif; " class="list-group-item list-group-item-dark text-center"><a class="btn btn-outline-warning text-dark" href="/">Continue Buying</a></li>
                      </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}